!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------

Xft.dpi:                    	96
Xft.antialias:              	true
Xft.rgba:                   	rgb
Xft.hinting:                	full
Xft.hintstyle:              	hintslight

!-------------------------------------------------------------------------------
! URxvt settings
! Colours lifted from Solarized (http://ethanschoonover.com/solarized)
! More info at:
! http://pod.tst.eu/http://cvs.schmorp.de/rxvt-unicode/doc/rxvt.1.pod
!-------------------------------------------------------------------------------

URxvt.depth:                	32
URxvt.geometry:             	90x30
! URxvt.transparent:          	true
! URxvt.shading:               	20
! URxvt.fading:               	0
URxvt.urgentOnBell:         	false
URxvt.visualBell:           	false
URxvt.loginShell:           	false
URxvt.saveLines:            	50
URxvt.internalBorder:       	8
URxvt.lineSpace:            	0

! Fonts
URxvt.allow_bold:           	true
URxvt.font: 			xft:Iosevka:style=Regular:size=10
URxvt.boldFont: 		xft:Iosevka:style=Bold:size=10
URxvt.italicFont: 		xft:Iosevka:style=Italic:size=10
URxvt.boldItalicFont: 		xft:Iosevka:style=Bold Italic:size=10

! Fix font space
URxvt*letterSpace:          	0

! Scrollbar
URxvt.scrollStyle:          	rxvt
URxvt.scrollBar:            	false

! Perl extensions
URxvt.perl-ext-common:      	default,matcher
URxvt.matcher.button:       	1
URxvt.urlLauncher:          	firefox

! Cursor
URxvt.cursorBlink:          	true
URxvt.cursorColor:          	#657b83
URxvt.cursorUnderline:      	false

! Pointer
URxvt.pointerBlank:         	true

! special
*.foreground:   #a0a0a0
*.background:   #202020
*.cursorColor:  #a0a0a0

! black
*.color0:       #202020
*.color8:       #a0a0a0

! red
*.color1:       #ffaa00
*.color9:       #ffaa00

! green
*.color2:       #50a000
*.color10:      #50a000

! yellow
*.color3:       #a00050
*.color11:      #a00050

! blue
*.color4:       #0050a0
*.color12:      #0050a0

! magenta
*.color5:       #a05000
*.color13:      #a05000

! cyan
*.color6:       #005050
*.color14:      #005050

! white
*.color7:       #a0a0a0
*.color15:      #00a0a0
