configuration {
	font: "Iosevka Bold 10";
	show-icons: false;
	sidebar-mode: false;
	theme: "$HOME/.config/rofi/themes/acp.rasi";
	display-window: "";
	display-run: "";
	display-ssh: "~#";
	display-drun: "";
}
@import "/usr/share/rofi/themes/lb.rasi"
